<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="profile-container">
                            <img (click)="fileInput.click()" class="profile-pic"
                                 src="https://img.icons8.com/dusk/64/000000/contract-job.png" alt="profile-picture"/>
                        </div>
                        <h4 class="card-title">Regisztráció</h4>
                        <p class="card-category">Töltse ki a mezőket! (Minden mezőt kötelező kitölteni!)</p>

                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (submit)="submitForm()">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Felhasználónév" type="text"
                                               formControlName="username">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Vezetéknév" type="text" formControlName="lastname">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Keresztnév" type="text"
                                               formControlName="firstname">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email Cím" formControlName="email">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Jelszó" type="password" formControlName="password">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Jelszó megerősítése" type="password"
                                               formControlName="passwordConfirmation">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Születési dátum (éééé-hh-nn)" type="date"
                                               formControlName="birthDate">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Test Magasság (cm)" type="text"
                                               formControlName="height">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Test Súly (kg)" type="text"
                                               formControlName="weight">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mt-lg-4">
                                    <select class="custom-select" formControlName="isMale">
                                        <option value="" disabled>Nem</option>
                                        <option ngValue="{{true}}">Férfi</option>
                                        <option ngValue="{{false}}">Nő</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-lg-4">
                                    <button type="button" mat-raised-button (click)="fileInput.click()">Válassz egy kép
                                        file-t!
                                    </button>
                                    <input hidden #fileInput type="file" id="file">
                                </div>
                            </div>
                            <button mat-raised-button type="button" (click)="submitForm()" class="btn btn-danger pull-right" routerLink="/registrationdone"
                                    [disabled]="form.invalid">Mentés
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
